* {
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  color: #1c1c1c;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  color: #1c1c1c;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header,
#hero-section,
#aboutUs,
#projects,
#team,
#feedback,
#contact-us,
#footer,
.grid-wrapper {
  width: 80vw;
}

section {
  position: relative;
}

figure {
  padding: 0;
  margin: 0;
}

.sections--header-box {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sections--header {
  font-family: "Inter";
  font-weight: 700;
  font-size: 1vw;
  line-height: 85%;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1.8%;
}

.sections--decription {
  width: 60vw;
  margin: auto;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 125%;
  line-height: 2vw;
  text-align: center;
  color: #585757;
  margin-bottom: 3.3%;
}

header {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 3;
  color: #fff;
  padding: 10px 60px 40px 40px;
}

header img[alt="logo"] {
  margin-left: 3vw;
  height: 5vw;
  width: auto;
}

#hero-banner {
  background-image: url("hero_image.png");
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* hero-section */

.hero-section-ttl {
  width: 75%;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 300%;
  margin-bottom: 2vw;
  margin-top: 5vw;
  cursor: default;
  letter-spacing: -0.08vw;
}
.hero-section-par {
  width: 40%;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  color: #ffffff;
  margin-bottom: 1.5vw;
}
.hero-section-btn--cb {
  width: 30%;
  height: auto;
  background-color: #ff7f26;
  color: #ffffff;
  font-family: "Inter";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 150%;
  box-shadow: 0px 0px 20px rgba(161, 101, 243, 0.2);
  border-radius: 12px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1vw 0;
}

.hero-section-btn--cb:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.hero-section-btn--cb img {
  width: 10%;
}

.scroll {
  width: 5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  position: absolute;
  bottom: 5%;
  right: 5%;
}

.scroll:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.scroll img {
  width: 2.6vw;
  height: 4vw;
}

/* #aboutUs */

.aboutUs--ttl {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 235%;
  text-align: center;
  color: #1c1c1c;
  margin: 5vw 0 1vw 0;
}

.aboutUs--p {
  margin-bottom: 6.6%;
}

.grid-wrapper {
  margin: auto;
  margin-bottom: 5vw;
}

.grid-container.three-column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 5%;
}

/* .aboutUs--column {
} */

.column--ttl-block {
  display: flex;
  align-items: center;
}
.column--image {
  width: 2.7vw;
  margin-right: 1.2vw;
}
.column--ttl {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  line-height: 1.4vw;
  font-size: 117%;
}
.column--p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 103%;
  line-height: 2vw;
}

/* projects */

/* .projects--ttl {
}

.projects--p {
} */

/* #projects .grid-container {
}

.three-column {
} */

#projects .card {
  padding-bottom: 3vw;
}

/* #projects .card a {
} */

#projects .card > figure img {
  width: 23vw;
  height: auto;
  border-radius: 8px;
}

#projects .card .button {
  font-family: "Helvetica Neue";
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 1.7vw;
  text-decoration: none;
  color: #ff7f26;
  display: flex;
  align-items: center;
}

#projects .card .button:hover {
  text-decoration: underline;
}

#projects .card .button img {
  width: 2.3%;
  margin-left: 2%;
}

#projects .card h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 1.55vw;
  line-height: 1.9vw;
  color: #000000;
}

#projects .card p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.05vw;
  line-height: 1.55vw;
  color: #000000;
}

/* #projects .card span.label {
  color: #ff7438;
  font-size: 20px;
  font-weight: 600;
  font-family: "Open Sans";
  line-height: 24px;
  vertical-align: middle;
} */

/* team */

/* .team--ttl {
}

.team--par {
} */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 3.4%;
}

#team .team-member {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 3.4%;
  padding-bottom: 16%;
}

#team .team-member .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#team .team-member figure {
  text-align: right;
}

#team .team-member img {
  max-width: 100%;
}

#team .team-member .specialization {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 97%;
  line-height: 145%;
  color: #585757;
}

#team .team-member .member-name {
  font-family: "Montserrat";
  font-weight: 600;
  font-size: 155%;
  line-height: 137%;
  color: #1c1c1c;
  margin-top: 1%;
}

#team .team-member p {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 97%;
  line-height: 150%;
  color: #585757;
  padding-bottom: 7.5%;
  padding-right: 20%;
}

#team .team-member .contacts a {
  text-decoration: none;
  margin-right: 6%;
}

#team .team-member .contacts a img {
  height: 2em;
  width: auto;
}

/* .two-column {
} */

/* feedback */

.feedback--ttl {
}
.feedback--p {
}

/* contact-us */

/* contact-us */

/* footer */

footer {
  background-color: #f9f9f9;
  width: 100%;
  display: flex;
  justify-content: center;
}

#footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 35vh;
}

.footer--left {
  /* margin-right: 25vw; */
}

.footer--left img {
  width: 84%;
}

.footer--list {
  padding: 0;
  padding-left: 9%;
  list-style: none;
  display: flex;
}

.footer--list-item {
  margin-right: 10%;
  white-space: nowrap;
}

.footer--list-item a {
  text-decoration: none;
  font-family: "Inter";
  font-weight: 400;
  font-size: 85%;
  line-height: 85%;
  color: #969696;
}

.footer--list-item a:hover {
  text-decoration: underline;
}

.footer--right {
  display: flex;
}

.footer--right-container--left {
  display: flex;
  flex-direction: column;
  width: 16.5vw;
}

.container--left-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 8%;
}

.container--left-header {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 85%;
  line-height: 140%;
  color: #969696;
}

.container--left--social-box {
    display: flex;
}

.container--left--social {
    margin-right: 2.5%;
}

.container--left--social + a {
    margin-right: 0;
}

.container--left--phone {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 97%;
  line-height: 150%;
  color: #585757;
}

.container--left--email {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 97%;
  line-height: 150%;
  color: #ff8364;
}

.container--left--social {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 97%;
  line-height: 150%;
  color: #585757;
}

.footer--right-container--right {
  display: flex;
  flex-direction: column;
  width: 16.5vw;
}

.container--right-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 8%;
}

.container--right-header {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 85%;
  line-height: 140%;
  color: #969696;
}

.container--right-adress {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 97%;
  line-height: 150%;
  color: #585757;
}
